.homepage {
	.about {
		background-color: $dark-color;
		color: $white-color;
		padding: 5rem 0;
		// height: 60vh;

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			text-align: center;

			h3 {
				margin: 2rem 0;
			}
		}

		img {
			width: 300px;
			height: 300px;
			border-radius: 100%;
			border: 2px solid $primary-color;
		}
	}

	.case-studies {
		padding: 4rem 0 1rem 0;
		text-align: center;

		.container {
			h4 {
				margin-bottom: 3rem;
			}
		}

		.cases {
			border: 2px dotted darken($grey-color, 10%);
			border-radius: $radius;

			.case {
				position: relative;
				// background-color: aqua;
				text-align: right;
				// background-image: url("../public/acusa.jpg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 75vh;
				padding: 2rem;
				margin: 3rem 0;
				border-radius: $radius;
				overflow: hidden;
				// gap: 1rem;

				.details {
					z-index: 40;
					position: relative;
					color: $white-color;
					height: 100%;
					display: flex;
					align-items: flex-end;
					justify-content: flex-end;
					flex-direction: column;
					gap: 1.5rem;

					p {
						width: 90%;
					}
				}
			}

			.case:nth-child(odd) {
				transform: translateX(3%);
			}

			.case:nth-child(even) {
				transform: translateX(-3%);
				text-align: left;

				.details {
					align-items: flex-start;
				}
			}
		}
	}

	.skills {
		padding: 4rem 0 1rem 0;
		h4 {
			text-align: center;
		}

		.skills {
			display: flex;
			// align-items: center;
			// justify-content: center;
			flex-direction: column;
			gap: 3rem;
			div {
				border: 2px dotted darken($grey-color, 10%);
				border-radius: $radius;
				padding: 3rem;
				text-align: right;
				// margin: 3rem 0;

				h3 {
					color: $primary-color;
					display: flex;
					align-items: center;
					justify-content: flex-end;

					margin-bottom: 1rem;
				}

				h5 {
					color: $primary-color;
					margin: 1rem 0;
				}

				li {
					margin: 1rem 0;
				}
			}

			div:nth-child(odd) {
				transform: translateX(3%);
			}

			div:nth-child(even) {
				transform: translateX(-3%);
				text-align: left;
				h3 {
					justify-content: flex-start;
				}
			}
		}
	}

	.interested {
		padding: 5rem 0 7rem 0;
		// background-color:/ red;
		.container {
			text-align: center;

			p {
				margin: 2rem 0;
			}

			.btn {
				svg {
					vertical-align: middle;
					// margin-left: 0.2rem;
					// font-weight: bold;
					font-size: 1rem;
					animation: moveX 2s infinite;
				}
			}
		}
	}
}
