@media (max-width: 1080px) {
	h1 {
		font-size: 5.5rem;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2rem;
	}

	h4 {
		font-size: 1.5rem;
	}

	h5 {
		font-size: 1rem;
	}

	h6 {
		font-size: 0.8rem;
	}
}

@media (max-width: 880px) {
	h1 {
		font-size: 4.5rem;
	}

	h2 {
		font-size: 2.2rem;
	}

	h3 {
		font-size: 1.7rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	h6 {
		font-size: 0.7rem;
	}

	body {
		font-size: 12px;
	}

	.icon {
		padding: 1rem;

		svg {
			font-size: 1.5rem;
		}
	}

	.btn {
		padding: 0.7rem 1.5rem;
		font-size: 0.7rem;
	}

	header {
		padding: 1rem 1rem;

		h4 {
			letter-spacing: 0.5rem;
		}
	}

	.container {
		width: 93%;
	}

	.showcase {
		min-height: 65vh;
	}

	.homepage {
		.about {
			img {
				width: 220px;
				height: 220px;
			}
		}

		.case-studies {
			.cases {
				.case {
					height: 55vh;
				}

				.case:nth-child(odd) {
					transform: translateX(2%);
				}

				.case:nth-child(even) {
					transform: translateX(-2%);
				}
			}
		}

		.skills {
			.skills {
				div:nth-child(odd) {
					transform: translateX(2%);
				}

				div:nth-child(even) {
					transform: translateX(-2%);
				}
			}
		}
	}

	.contactpage {
		.showcase {
			.socials {
				svg {
					margin-top: 1rem;
					font-size: 1.5rem;
				}
			}
		}
	}

	.casepage {
		.case-design {
			div {
				img:nth-child(odd) {
					transform: translateX(2%);
				}

				img:nth-child(even) {
					transform: translateX(-2%);
				}
			}
		}
	}

	.socials {
		svg {
			font-size: 1.5rem;
			margin: 0 1rem;
			// color: $white-color;
			@include transition();
		}
	}
}

@media (max-width: 680px) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.7rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.8rem;
	}

	h6 {
		font-size: 0.6rem;
	}

	body {
		font-size: 11px;
	}

	.socials {
		svg {
			font-size: 1rem;
		}
	}

	.showcase {
		min-height: 65vh;

		h5 {
			margin-top: 2rem;
		}
	}

	.homepage {
		.case-studies {
			.cases {
				.case {
					height: 45vh;
				}
			}
		}
	}

	.contactpage {
		.showcase {
			.socials {
				svg {
					font-size: 1rem;
				}
			}
		}
	}
}
