@import "config";
@import "utilities";
@import "homepage";
@import "contactpage";
@import "casepage";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: $dark-color;
	background-color: $white-color;
	font-size: 16px;
	width: 100%;
	min-height: 100vh;
	line-height: 1.8;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// background-color: red;
	padding: 1rem 2rem;

	h4 {
		letter-spacing: 0.5rem;
	}
}

footer {
	text-align: center;
	background-color: $dark-color;
	color: $white-color;
	padding: 5rem 0;

	h2 {
		cursor: pointer;
	}

	.socials {
		svg {
			margin: 2rem 1rem;
			color: $white-color;
		}
	}
}

@import "mobile";
